[Desktop Entry]
Name=Tally
GenericName=Web Analytics
Comment=See the stats on your Plausible dashboard
Categories=Network;GTK;
Exec=com.cassidyjames.plausible
Icon=com.cassidyjames.plausible
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.cassidyjames.plausible
Keywords=plausible;analytics;stats;metrics;counter;
