:root {
  --accent-bg-color: #4f46e5;
  --window-bg-color: #f8fafc;
  --window-fg-color: #0f172a;
  --dialog-bg-color: #fff;
  --popover-bg-color: var(--dialog-bg-color);

  --headerbar-bg-color: #f4f5fc;
  --headerbar-fg-color: var(--accent-color);
  --headerbar-backdrop-color: mix(var(--headerbar-bg-color), var(--window-bg-color), 0.2);
}

.loading {
  background-color: var(--headerbar-bg-color);
  color: var(--accent-color);
}
