@define-color accent_color @color_primary;
@define-color colorPrimary @color_primary;
@define-color plausible_dark #191E38;

.loading {
  background-color: @plausible_dark;
}

.titlebar .title,
.titlebar .titlebutton {
  color: white;
  text-shadow: none;
  -gtk-icon-shadow: none;
}
